---
# Only the main Sass file needs front matter (the dashes are enough)
---

body{
	margin:0px;
}



@import "bourbon";
@import "neat";

@import "dependencies/responsive";
@import "dependencies/color";
@import "dependencies/type";

@import "modules/description";
@import "modules/intro";
@import "modules/gallery";



h1,h2,h3,h4,h5,h6{
	@extend %sans-serif;
}

p, li{
	@extend %serif;;
}

.apply{
	@extend %sans-serif;
	font-weight:bold;
	@include text-size($button);
	letter-spacing:-0.06em;
	border:none;
	padding:0;
	display:block;
	margin:0 auto;
	a{
		display:block;
		background:rgb(0,255,0);
		padding:0.25em;
		text-decoration: none;
		color:white;
	}
}