---
layout: home
---
<header class="intro">
	<h1>
		<span class="group-01">RISD <br>seeks a<br> director of<br> design</span> 
		

	</h1>
	<span class="logo left">
		{% include risd-seal.svg  %}
	</span>	
	<span class="logo right">
		{% include risd-seal.svg  %}
	</span>
</header>

<section class="description">
	<h2 class="description__title">Help Wanted</h2>
	<div class="description-text-container">
		<p>RISD is seeking a Director of Design to convey the collective imagination of the college community through integrated print and digital communications that engage and inform diverse audiences, including prospective and current students, donors, faculty members, alumni and the general public.</p>


		<p>The director, who reports to the Chief Marketing & Communications Officer, drives the vision and direction of RISD’s visual presence and leads a three-person design team. Working directly with RISD’s leaders on highly visible projects of great impact, the director manages the representation of the college’s brand both internally and externally.</p>

		<p>In addition to a sophisticated visual sensibility and a strong record of outstanding design practice, the ideal candidate is a strategic thinker and collaborator with excellent management, interpersonal and communications skills.</p>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Recent Work</h2>
	<div class="gallery-of-work">

		<figure class="gallery-image" >
			<img  src="assets/img/risd-weekend/risd-weekend-logo.gif" data-title="RISD Weeknd Logo" alt="">
			{% include gallery-controls.html  %}

		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/admissions/admissions-poster.jpg" data-title="Admissions Undergraduate Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>
		
		<figure class="gallery-image" >
			<img src="assets/img/risd-craft/risd-craft-composite.jpg" data-title="RISD Craft" alt="">
			{% include gallery-controls.html  %}
		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/admissions/working.jpg" data-title="Working" alt="">
			{% include gallery-controls.html  %}
		</figure>
		<figure class="gallery-image">
			<img  src="assets/img/inauguration/inauguration.jpg" data-title="Rosanne Somerson Inauguration" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/edu/risd-edu.gif" data-title="RISD Edu" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/picture-risd-02.jpg" data-title="Picture RISD" alt="">
			{% include gallery-controls.html  %}

		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/risd-weekend/risd-weekend-posters.gif" data-title="RISD Weekend Posters" alt="">
			{% include gallery-controls.html  %}
		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/welcome-site/welcome-site.gif" data-title="Welcome Site" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/nature-lab/nature-lab.gif" data-title="Nature Lab" alt="">
			{% include gallery-controls.html  %}
		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/holiday-card/holiday-card-14.jpg" data-title="Holiday Card" alt="">
			{% include gallery-controls.html  %}

		</figure>
		
		<figure class="gallery-image">
			<img  src="assets/img/admissions/viewbook.jpg" data-title="RISD Viewbook 2017" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-15-program.jpg"  data-title="Collection 15 Program" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-17-poster.gif" data-title="Collection 17 Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>
		
		<figure class="gallery-image" id="test">
			<img  src="assets/img/presidential-collateral/presidents-collateral.jpg" data-title="RISD Presidential Collateral" alt="">
			{% include gallery-controls.html  %}

		</figure>

		{% comment %}<video class="gallery-video" src="assets/img/commencement/commencement-02.mp4" autoplay loop></video>{% endcomment %}
		{% comment %}<video class="gallery-video" src="assets/img/nature-lab/nature-lab.mp4"  autoplay loop></video>{% endcomment %}
	</div>
</section>

<section class="description">
	<h2 class="description__title">Essential Functions / Duties</h2>
	<div class="description-text-container">
		<ol>
			<li>Recommend the vision for and manage the caliber and consistency of RISD’s visual presence across all platforms and communications for which the design team is responsible. </li>

			<li>Serve as the lead designer on complex and/or highly visible print and digital projects, including those that significantly impact the perception of RISD among priority audiences.</li>

			<li>Determine the skills and capacity needed to handle the fluctuating volume of work expected of the RISD’s design team. Hire, train and manage the team accordingly, determining the appropriate mix of full-time, temporary, freelance and student workers needed at any given time.  Foster a highly engaged team culture, providing team members with creative direction, coaching, development and supervision; set goals and conduct performance reviews. </li>

			<li>In partnership with the Chief Marketing & Communications Officer, prioritize internal and external projects based on key institutional goals. Assign projects accordingly to design team members. Oversee the development of all creative concepts, design implementations, and corresponding production tasks (such as budget projections and project schedules) to ensure work is of a high caliber and consistent with RISD’s design standards. </li>

			<li>Determine the systems and structures needed for the design team to operate efficiently and effectively. Implement technology, tools, and processes as approved and evaluate and modify these systems, tools and processes as necessary. </li>

			<li>Identify new and/or innovative ways design can help achieve RISD’s goals. Keep abreast of current and emerging trends in graphic design and related fields, evaluating if and how they might be appropriate for RISD, and implementing accordingly.</li>

			<li>As an active and engaged member of the Chief Marketing & Communication Officer’s leadership team, help advance and achieve the team’s goals and vision and help foster a strong team culture. </li>

			<li>Cultivate and foster positive relationships with colleagues across campus, as well as with external vendors and partners. </li>
		</ol>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Qualifications</h2>
	<div class="description-text-container">
		<ul>
			<li>Bachelor’s degree in graphic design or related field required, MFA preferred.</li>
			
			<li>At least seven years of increasingly challenging design experience. </li>
			
			<li>Previous experience managing other design professionals.</li> 
			
			<li>Demonstrated ability to lead projects in a team environment, manage multiple priorities responsibly and work well under deadlines. Able to influence non-report teams.</li>

			<li>Excellent interpersonal, communication and presentation skills. Must be able to build good working relationships with campus partners and team members, and give and receive constructive feedback.</li>
	
			<li>A strong record of outstanding design practice and a sophisticated visual sensibility. Proficiency with design software. Computer literacy and an understanding of Web interface design, HTML coding, and CSS. Highly skilled in Photoshop, Illustrator and InDesign, multi-page layout and all print production techniques. Adobe After Effects, Final Cut Pro, and experience with photography preferred but not essential.  </li>
			
			<li>Ability to work across a range of projects including identity design, print collateral, publication design and online experiences. </li> 
			
			<li>Excellent typographic skills, an understanding of visual systems and an eye for detail and knowledge of design history. Demonstrated ability to successfully translate complex ideas into compelling, intuitive visuals for a highly visual community.</li>
			
			<li>Ability to analyze and evaluate the efficacy of graphic design projects and adjust and innovate accordingly. </li>
			
			<li>Demonstrated ability to prepare complex files for print production, review and comment on printer’s proofs and press check projects with a keen eye for detail. An understanding of production requirements for digital media formats to be used in websites, email, video, and other digital communication.</li>
			
			<li>Ability to develop and monitor budgets and production schedules.</li>
			
			<li>Interest in art, design and art education.</li>
			
			<li>An understanding of RISD’s culture, identity and community appreciated.</li>

		</ul>
	</div>
</section>

<section>
	<button class="apply"><a href="https://careers.risd.edu/postings/1547" target="_blank">Apply</a></button>
</section>

<section class="modal">
</section>
